# Python
backend/__pycache__/
backend/**/__pycache__/
backend/*.py[cod]
backend/**/*.py[cod]
backend/*.so
backend/.Python
backend/.env
backend/.venv
backend/env/
backend/venv/
backend/ENV/
backend/env.bak/
backend/venv.bak/
backend/*.egg-info/
backend/dist/
backend/build/
backend/eggs/
backend/*.egg
backend_prod/va_venv/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
backend/*.log
backend/logs/
backend/log/

# Coverage reports
backend/htmlcov/
backend/.tox/
backend/.coverage
backend/.coverage.*
backend/.cache
backend/coverage.xml
backend/*.cover

# Local development
backend/*.db
backend/*.sqlite3
backend/.env.local
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local

# Node (if using frontend)
frontend/node_modules/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend_prod/node_modules/

# Jupyter Notebook
backend/.ipynb_checkpoints

# mypy
backend/.mypy_cache/
backend/.dmypy.json
backend/dmypy.json

backend/.pytest_cache/

# pytest
backend_prod/.env
backend_prod/videos/
backend_prod/__pycache__/
backend_prod/alembic/__pycache__/
backend_prod/alembic/versions/__pycache__/

frontend_prod/node_modules/
backend_prod/frames/
backend_prod/formatted_transcript.srt
backend_prod/formatted_transcript.txt
